<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджеры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}">

</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Мероприятия</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="badges.html">О нас</a></li>
            <li><a href="/login">Войти</a></li>
        </ul>
    </div>
</nav>

<h3>Менеджеры</h3>
<div class="row" th:each="manager : ${managers}">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p th:text="${manager.name}"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" data-th-src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script data-th-src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js}"></script>


</body>
</html>